
/* Base styles
-----------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

html { 
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: $black;
	font-weight: normal;
}
h1,
h2,
h3 {
	line-height: 1;
	padding: 10px 0 ;
	font-weight: normal;
}
h1,
h2 {
	font-family: $pacifico;
}
h1 {
	font-size: $font-size-xl;
}
h2 {
	font-size: $font-size-l;
}
h3 {
	text-transform: uppercase;
	font-size: $font-size-base;
}
p {
	font-size: $font-size-xs;
	padding: 3px 0;
	word-wrap: break-word;
}
a:link {
	color: $link-color;
	text-decoration: none;
}
a:visited {
	color: $link-color;
}
a:hover {
	color: $hover-color;
}

a:focus {
	outline: none;
	border: 1px dotted $grey;
}

ul,ol {
	list-style: none;
	padding: 6px 0;
	font-size: $font-size-s;
}
.content-wrapper {
	position: relative;
	width: 70%;
	margin: 0 auto;  
}


.content-wrapper::after {
	content: '';
	display: block;
	clear: both;
}

.btn {
	display: inline-block;
	height:24px;
	width: 70px;
	background-color: $red;
	border: 1px outset $grey;
	outline: none;
	border-radius: 4px;
	color: white;
	font-weight: bold;
}

.btn:focus {
	outline: 1px dotted $grey;
}

